<div class="table-wrapper">
    <div class="table-wrapper__header">
        <div class="table-wrapper__header--title">Warehouses</div>
        <div class="table-wrapper__header--action">
            <button
                type="button"
                class="btn btn-success"
                name="openWarehouseModal"
                data-toggle="create"
            >
                Create
            </button>
        </div>
    </div>

    <div class="table-wrapper__body">
        <% if (warehouses.length < 1) { %>
        <div class="alert alert-warning" role="alert">
            No warehouse available. Add a new warehouse.
        </div>
        <% } else { %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <!-- <th scope="col" style="text-align: center; width: 300px;">Total bins</th> -->
                    <th scope="col" style="text-align: center; width: 200px">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <% warehouses.forEach((warehouse, index)=> { %>
                <tr>
                    <td scope="row"><%= index + 1 %></td>
                    <td><%= warehouse.name %></td>
                    <td><%= warehouse.address.city %></td>
                    <td style="text-align: center">
                        <button
                            name="openWarehouseModal"
                            data-toggle="edit"
                            warehouse-data="<%= JSON.stringify(warehouse) %>"
                            type="button"
                            class="btn btn-info"
                            style="margin-right: 10px"
                        >
                            Edit
                        </button>
                        <button
                            name="deleteWarehouseButton"
                            warehouse-id="<%= warehouse.id %>"
                            type="button"
                            class="btn btn-danger"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <% } %>
    </div>
</div>

<!-- Create warehouse modal -->
<div
    class="modal fade"
    id="warehouseModal"
    tabindex="-1"
    aria-labelledby="warehouseModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warehouseModalLabel">
                    Create new warehouse
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="warehouseNameField"
                        placeholder="Winnipeg Warehouse and Distribution Centre"
                    />
                    <label for="warehouseNameField">Warehouse name</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="warehouseCityField"
                        placeholder="Winnipeg"
                    />
                    <label for="warehouseCityField">City</label>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button
                    type="button"
                    class="btn btn-success"
                    id="createWarehouseButton"
                >
                    Create
                </button>
                <button
                    type="button"
                    class="btn btn-info"
                    warehouse-id="empty"
                    id="editWarehouseButton"
                >
                    Edit
                </button>
            </div>
        </div>
    </div>
</div>
